/tmp/*
/tb/fulladder32.sv
/tb/tb_adder_timing.sv
/tb/tb_alu_riscv.sv
/tb/tb_cybercobra3000pro2_1.sv
/tb/tb_CYBERcobra.sv
/tb/tb_data_mem
/tb/tb_instruction_memory.sv
/tb/tb_register_file.sv
/tb/tb_top_cybercobra.sv
/src/cla_four_fulladder.sc
/src/cybercobra3000pro2_0.sv
/src/cybercobra3000pro2_1.sv
/src/data_mem.sv
/src/nexys_CYBERcobra.sv
/src/nexys_CYBERcobra_dz.sv
/src/nexys_rf_riscv.sv
/src/prefix_adder32.sv
/data/*
!/data/lab_12_ps2ascii_data.mem
!/data/lab_12_ps2_vga_instr.mem
